@using System.Web.Optimization
@using WebServer.App_Start
@using WebServer.Areas.Offers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(BundleConstants.Styles.GeneralCss)
    @Scripts.Render(BundleConstants.Scripts.Main)
    @RenderSection("customeStyles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        
                        <li>
                             @Html.ActionLink("Offers aplication", "Main", "App", new {Area = "Offers"}, new {})
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 70px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Offers Prove of Concept</p>
        </footer>
    </div> 
    
    @RenderSection("scripts", required: false)
</body>
</html>