@using System.Web.Optimization
@using WebServer.App_Start
@using WebServer.Areas.Spa
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    @Styles.Render(BundleConstants.Styles.GeneralCss)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        
                        <li>
                             @Html.ActionLink("Spa", "Index", "App", new {Area = "Spa"}, new {})
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Offers Prove of Concept</p>
        </footer>
    </div>

    @Scripts.Render(BundleConstants.Scripts.Jquery)
    @Scripts.Render(BundleConstants.Scripts.TwitterUiBootstrap)
    @RenderSection("scripts", required: false)
</body>
</html>